.ListOfGifs {
  display: -webkit-box; 
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px; 
  width: auto;
}

.ListOfGifs-Column {
  padding-left: 30px; 
  background-clip: padding-box;
}

.ListOfGifs-Column > div {
  background: grey;
  margin-bottom: 30px;
}
